SPECTRA_URL=http://localhost:5200
SPECTRA_GROUP_CODE=GroupCode

REDIS_URL=redis://default:SUPERSTRONGdevpassword@127.0.0.1:3030
REDIS_PASSWORD=SUPERSTRONGdevpassword

SOCKET_AUTH_KEY=1234567890
NETROCK_AUTH=
